.image-regular img {
    padding-bottom: 200px;
}

.article-content h1 {
  text-align: center;
  font-size: 120px;
}

.article-content h2 a {
  color: #ccc;
}
.article-content h2 a:hover {
  color: rgb(236, 236, 236);
  animation: text-shadow-pop-bl 0.6s both;
}
.article-content h5 a:hover {
  color: rgb(236, 236, 236);
  animation: text-shadow-pop-bl 0.6s both;
}
.article-content h2:first-of-type {
  text-align: center;
  padding-top: 80px;
  padding-bottom:0;
  margin-bottom:0;
  font-size: 6rem;
  line-height:8rem;
}
.article-content h2 {
  text-align: center;
  padding-top: 80px;
  padding-bottom:0;
  margin-bottom:0;
  font-size: 6rem;
  line-height:8rem;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.article-content h3 {
  text-align: center;
  color: rgb(129, 129, 129);
  padding-bottom:0;
  margin-bottom:0;
  font-size: 40px;
  /*line-height:8rem;*/
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.article-content h4 {
  text-align: center;
  color: #ccc;
  padding-bottom:0;
  margin-bottom:0;
  font-size: 30px;
  /*line-height:8rem;*/
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.article-content h5 {
  text-align: center;
  color: #ccc;
  padding-bottom:0;
  margin-bottom:0;
  font-size: 35px;
  /*line-height:8rem;*/
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.article-content p {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

@keyframes text-shadow-pop-bl {
0% {
  text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
  transform: translateX(0) translateY(0);
}
100% {
  text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
  transform: translateX(8px) translateY(-8px);
}
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}