body {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    counter-reset: section;
    font-family: "pt-serif", "PT Serif", "Georgia", serif;
    font-size: 22px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: rgb(228, 228, 228);
    letter-spacing: 0.1599999964237213px;
    line-height: 32px;
  }

  .bodydark {
    background: rgb(30, 30, 30);
    background-color: rgb(27, 27, 27);
    position: relative;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: 100;
    animation-direction: alternate;
  }

@keyframes example {
  0%   {background-color:rgb(48, 48, 48);}
  100% {background-color:rgb(40, 40, 40);}
}