body {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    counter-reset: section;
    font-family: "pt-serif", "PT Serif", serif;
    font-size: 22px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1599999964237213px;
    line-height: 32px;
  }

  .bodydark {
    background: rgb(30, 30, 30);
  }